backports.tarfile==1.2.0
build==1.2.1
DateTime==5.5
Flask==3.1.0
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
more-itertools==10.2.0
nh3==0.2.17
pdfkit==1.0.0
pkginfo==1.11.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.2.3
pyproject_hooks==1.1.0
pytz==2025.2
readme_renderer==43.0
rfc3986==2.0.0
rsa==4.9
setuptools==75.8.0
twine==5.1.0
tzdata==2024.1
uritemplate==4.1.1
wheel==0.45.1
zipp==3.19.2
zope.interface==6.2
